{{- $page := .page }}
{{- $menuID := .menuID }}
{{- $className := .className }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul class="{{ $className }}">
      {{- range . }}
        {{ $attrs := dict "href" .URL }}
        {{- if $page.IsMenuCurrent .Menu . }}
          {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
        {{- end }}
        {{- $name := .Name -}}
        <li><a
              {{- range $k, $v :=$attrs }}
                {{- with $v }}
                  {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                {{- end }}
              {{- end -}}
            >{{- $name -}}</a></li>
      {{- end }}
    </ul>
  </nav>
{{- end }}
