<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "menu.html" (dict "menuID" "main" "page" . "className" "nav") }}
    <h1>[coralynn@cyn /var/www{{ .RelPermalink }}]$ {{ block "shcall" . }}<span>open .</span>{{ end }}<span class="blink">█</span></h1>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
